A sample of size 10 is randomly selected (without replacement) from the original data.

In [12]:
import pandas as pd

# Loading the dataset
emnist_ds = pd.read_csv("emnist-byclass-test.csv", header=None)

# Define the number of rows to sample
sample_size = 10

# Randomly sample the rows from the dataset
sampled_ds = emnist_ds.sample(n=sample_size)

# Save the sampled dataset to a new CSV file
# sampled_df.to_csv("emnist-sample.csv", header=False, index=False)
sampled_ds

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
108203,28,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
114426,28,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4391,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51032,58,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
84387,61,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36151,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
58865,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33620,12,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37175,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
66438,18,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

I randomly select 1% of the data (without replacement) and display the selected samples. The random_state argument of the function specifies the seed value of the random number generator.

In [13]:
sample = emnist_ds.sample(frac=0.01, random_state=1)
sample

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
64729,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49556,47,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74183,39,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31904,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21399,51,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113082,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20433,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23134,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27243,24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
95282,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Finally, I performed a sampling with replacement to create a sample whose size is equal to 1% of the entire data.

In [14]:
sample = emnist_ds.sample(frac=0.01, replace=True, random_state=1)
sample

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
98539,49,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
77708,44,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5192,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98047,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50057,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32293,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
70831,25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92634,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27988,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28431,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0